.container {
  height: 100% !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("grid-bg.svg");
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-repeat: no-repeat;
}

.header {
  margin-top: 10rem;
  min-height: 80dvh;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
}

.header a {
  width: 150px;
}

.heading {
  line-height: 1.25;
  font-size: clamp(2.25rem, 7vw, 3.75rem);
  word-spacing: 0.3rem;
  position: relative;
}

.description {
  max-width: 80%;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 1rem;
  text-align: center;
  color: var(--text-secondary);
}

.ambientBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 200px;
  transform: translate(20%, -30%);
  max-width: clamp(200px, 60vw, 360px);
  z-index: -1;
  filter: blur(192px);
  content: "";
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 51%,
    var(--background) 100%
  );
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  background: url("/home-underscore.svg") no-repeat;
  z-index: -1;
  height: 40px;
  width: 150%;
  left: -28px;
  bottom: -28px;
  position: absolute;
  content: "";
  background-size: contain;
}

.landingPreview {
  width: 100%;
  max-width: 800px;
  margin-top: 3rem;
  transform: rotate(2deg);
  border-radius: 8px;
}

.features {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, minmax(60px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
}

.features div:nth-child(1) {
  grid-column: span 2;
  grid-row: span 3;
}
.features div:nth-child(2) {
  grid-column: span 2;
  grid-row: 4 / span 3;
}

.features div:nth-child(3) {
  grid-column: 3 / span 3;
  grid-row: span 2;
}
.features div:nth-child(4) {
  grid-column: 3 / span 3;
  grid-row: 3 / span 4;
}

.feat {
  background: var(--list-background);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.featName {
  font-size: 1.25rem;
  font-weight: 500;
}

.featDescription {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-top: 0.5rem;
}

.secureIcon {
  width: 36px;
  height: 48px;
  flex: 1;
  display: flex;
  align-items: center;
}

.ring {
  content: "";
  position: absolute;
}

.secureIcon .ring:nth-child(1) {
  width: 80px;
  height: 80px;
  transform: translate(-28%, 0);
  border-radius: 50%;
  border: 1px solid rgba(var(--ring), 1);
}

.secureIcon .ring:nth-child(2) {
  content: "";
  width: 128px;
  height: 128px;
  transform: translate(-36%, 0);
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgba(var(--ring), 0.7);
}

.secureIcon .ring:nth-child(3) {
  content: "";
  width: 176px;
  height: 176px;
  transform: translate(-40%, 0);
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgba(var(--ring), 0.4);
}

.lockIcon {
  width: 36px;
  height: 48px;
}

.footer {
  height: 10vh;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .description {
    font-size: 1rem;
    line-height: 1.3;
    max-width: 90%;
  }
  .highlight::after {
    left: -16px;
    bottom: -30px;
    width: 130%;
  }
  .features {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, minmax(40px, 1fr));
    width: 100%;
  }

  .features div:nth-child(1) {
    grid-column: 1;
    grid-row: span 2;
  }
  .features div:nth-child(2) {
    grid-column: 1;
    grid-row: 3 / span 4;
  }

  .features div:nth-child(3) {
    grid-column: 1;
    grid-row: 7 / span 3;
  }
  .features div:nth-child(4) {
    grid-column: 1;
    grid-row: 10 / span 3;
  }

  .secureIcon {
    width: 30px;
    height: 42px;
  }

  .secureIcon .ring:nth-child(1) {
    width: 72px;
    height: 72px;
    transform: translate(-29%, 0);
  }

  .secureIcon .ring:nth-child(2) {
    width: 112px;
    height: 112px;
    transform: translate(-37%, 0);
  }

  .secureIcon .ring:nth-child(3) {
    width: 148px;
    height: 148px;
    transform: translate(-40%, 0);
  }

  .lockIcon {
    width: 30px;
    height: 42px;
  }
}
