.plane {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
  text-align: center;
  flex: 1 1 auto;
  flex-flow: column;
  display: flex;
  margin-top: 52px;
  min-height: calc(100vh - 52px);
}

.plane.plane__full {
  max-width: 100%;
}

.plane-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 1rem 0;
  height: 42px;
  min-height: 42px;
}

.plane-title {
  margin: 0;
}

.plane-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}
